@charset "utf-8";
/* CSS Document */

body{
    margin: 0 auto;
    width: 100%;
}

main{
    width: 992px;
    margin: 0 auto;
}

article{
    width: 50%;
    float: left;
}

article p{
    padding: 30px;
}