
main{
    overflow: hidden;
}

.text{ 
    color: black;
    width: 992px;
    margin: 0 auto;
    border: 1px solid red;
    overflow: hidden;
    position: absolute;
    left: -50px;
}

.text p{
    width: 1500px;
    border: 1px solid red;
}