:root{
 --testVariable: yellow;   
}
.container p{
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    color: var(--testVariable);
}
img{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0px;
}
.anthony{
    
}



.container{
    
}/* CSS Document */

.container{
    column-count: 3;
    column-width: 200px;
    color: red;
}

.transition{
    
}
