/* CSS styles by Anthony Lum
Web 1 GWD-08
*/

*{
  font-family: arial;
}

/* will make all classes with this name, turn red and be bold */
.multiple_times{
  color: indianred;
  font-weight: bolder;
}

/* is an ID that will make A singular element, turn blue violet
don't forget you can only use IDs with the same name once.
*/

/* to open use This
to close */


#pick_me{
  color: blueviolet;
  font-style: italic;
}

#clicky{

}

#touch{

}

#press{

}

p.multiple_times{
  color: darkturquoise;
  font-size: 100px;
}

.class1{

}

.class2{
}

.class3{

}
/* type your comment here */

/*

asdfadfa
asdfasdf
adfasdfas
df
adfasdfas

*/
