:root{
    --primaryColor: #fcb040;
    --secondaryColor: #727273;
    --buttonColor: cadetblue;

    --headerSize: 50px;
    --subHeadText: 16px;
    --bodySize: 12px;
    --smallSize: 8px;
}

h1{
    font-size: var(--headerSize);
    color: var(--primaryColor);
}

h2{
    font-size: var(--subHeadText);
    color: var(--secondaryColor);
}