/* CSS Document */

.al-fcb{
	color: #fcb040;
}

.bga-dark{
	background-color: #fcb040;
}

.bga-red{
	background-color: red;
}

.bga-blue{
	background-color: blue;
}

.bga-green{
	background-color: green;
}

.bga-yellow{
	background-color: yellow;
}

.bga-orange{
	background-color: orange;
}

.bga-pink{
	background-color: pink;
}

.bga-purple{
	background-color: purple;
}

.ha-150{
	height: 150px;
}