* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.first {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1696418800033-07294b6045f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2535&q=80");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    font-weight: bold;
}

.second {
    height: 500px;
    background-color: darkslategray;
}

.child1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 400px;
}

.grandchild1,
.grandchild2 {
    background-color: beige;
}

.grandchild1 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.grandchild2 {
    grid-column: 3/5;
    grid-row: 3/5;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
}

ul {
    display: flex;
    list-style: none;
    border: 1px solid red;
    justify-content: flex-end;
}

ul li {
    width: 33.33%;
    text-align: center;
    border: 1px solid blue;
}

/* CSS Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General Styles */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
