.test {
  border: 1px solid red;
}

.al-bg-gradient {
  background-color: #173dc6;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 578px) {
  .topgrid-container {
    flex-flow: row wrap;
    height: 800px;
  }

  .topgrid-item,
  .topgrid-item2 {
    width: 100%;
    flex: 1 1 50px;
  }

  .topgrid-item {
    height: 125px;
  }

  .topgrid-item2 {
    height: 300px;
  }

  .botgrid-container {
    flex-flow: row wrap;
    height: 300px;
  }

  .botgrid-item {
    width: 100%;
    flex: 1 1 300px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 578px) {
  .topgrid-container {
    flex-flow: column wrap;
    height: 400px;
  }

  .topgrid-item{
    width: 33.33%;
    flex: 1 1 150px;
  }

  .topgrid-item2 {
    width: 33.33%;
    flex: 1 1 400px;
  }

  .topgrid-item {
    height: 200px;
  }

  .topgrid-item2 {
    height: 400px;
  }

  .botgrid-container {
    flex-flow: column wrap;
    height: 300px;
  }

  .botgrid-item {
    width: 50%;
    flex: 1 1 150px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
