.section-block{
  width: 100%;
  border: 1px red solid;
  padding: 50px 20px;
}

footer{
  margin: 20px 0;
}

.section1{
  border: 10px purple solid;
}

.section2{
  border: 10px purple solid;
  margin: 30px;
}
