/* CSS Reset */

* {
  
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* General Styles */
main {
    max-width: 100%;
    margin: 0 auto;
}

.bebas {
    font-family: "Bebas Neue Pro", Arial, sans-serif;
}

.primarycolor {
    color: #fcb040;
}

.primarycolor-bg {
    background-color: #fcb040;
}

.flex-item {
    /* quote and quote article */
    /* margin: 10px 0; */
}

.flex-item div {
    /* this is the text div */
    padding: 40px;
    text-align: center;
    background-color: #006241;
    color: white;
}

.flex-item h3 {
    font-size: 30px;
}

.flex-item p {
    margin: 10px 0 30px 0;
}

.flex-item div a {
    /* the button */
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container div div img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.article-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-logo{
    justify-content: flex-start;
    width: 70%;
}

.nav-icon{
    justify-content: flex-end;
    width: 30%;
}

.nav-items{
    justify-content: flex-end;
    width: 100%;
}

nav div a{
    width: 100%;
    border: 1px solid red;
    text-align: center;
}

nav{
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
    margin-top: -50px;
}

.nav-after{
    margin-top: 50px;
}

#menu-items{
    display: none;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }

    .order1 {
        order: 1;
    }

    .order2 {
        order: 2;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main {
        max-width: 85%;
    }

    .col-l-1 {
        width: 8.33%;
    }
    .col-l-2 {
        width: 16.66%;
    }
    .col-l-3 {
        width: 25%;
    }
    .col-l-4 {
        width: 33.33%;
    }
    .col-l-5 {
        width: 41.66%;
    }
    .col-l-6 {
        width: 50%;
    }
    .col-l-7 {
        width: 58.33%;
    }
    .col-l-8 {
        width: 66.66%;
    }
    .col-l-9 {
        width: 75%;
    }
    .col-l-10 {
        width: 83.33%;
    }
    .col-l-11 {
        width: 91.66%;
    }
    .col-l-12 {
        width: 100%;
    }

    .nav-icon{
        display: none;
    }

    .nav-logo{
        width: 20%;
    }

    .nav-items{
        width: 80%;
    }

    .nav-items a{
        width: 20%;
    }

    .nav-items{
        display: flex !important; /* override javascript */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .col-xl-1 {
        width: 8.33%;
    }
    .col-xl-2 {
        width: 16.66%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-4 {
        width: 33.33%;
    }
    .col-xl-5 {
        width: 41.66%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-7 {
        width: 58.33%;
    }
    .col-xl-8 {
        width: 66.66%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-10 {
        width: 83.33%;
    }
    .col-xl-11 {
        width: 91.66%;
    }
    .col-xl-12 {
        width: 100%;
    }
}
