/* THE GENERAL, POTUS*/
*{
  font-family: arial;
}

#camerapicture{
  width: 300px;
}

/* Commander Bebas */
.custom-font-bebas{
  font-family: 'Bebas Neue', arial, sans-serif;
}

/* Commander Roboto */
.custom-font-roboto{
  font-family: 'Roboto', arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: arial;
  color: black;
}

#moveme{
  border: black 10px solid;
  margin-top: 10;
  margin-right: 20;
  margin-bottom: 30;
  margin-left: 40;
  margin: 10 20 30 40; /*shorthand*/
}

body{
    background: url("../img/camera.jpg") top right no-repeat;
}

.nokiaphone{
  color: pink;
}

img{
  height: 200px;
}
