.main-container{
    width: 100%;
    margin: 0 auto;
}

footer{
    margin: 0 auto;
    width: 75%;
    border: 0px blue solid;
}

.left, .right{
    width: 48%; /* "half" */
}

.left{
    float: left;
    border: 0px purple solid;
    margin-right: 5px;
}

.right{
    float: right;
    border: 0px orange solid;
    margin-left: 5px;
}

img{
    width: 23%; /* a forth */
}