/* EXTRA Small devices (576px and up) */
@media only screen and (max-width: 576px) {


p{
  font-family: arial, sans-serif;
}
  .newphoto{
    background-color: aqua;
    height: 100px;
    width: 100%;
  }

  .test {
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
  }

  .bg-photo1, .bg-photo2, .bg-photo3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }

  .bg-photo1 {
    background-image: url(../img/jeep.jpg);
  }

  .bg-photo2 {
    background-image: url(../img/leaf.jpg);
  }

  .bg-photo3 {
    background-image: url(../img/flowers.jpg);
  }

  h1 {
    font-family: 'Bebas Neue', Arial, sans-serif;
  }

  p {
    font-family: 'Open Sans', Arial, sans-serif;
  }

  .bangersandmash {
    font-family: 'Bangers', Arial, sans-serif;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {

.cheryl{
  color: deeppink;
  font-family: cursive;
  font-size: 100px;
}

  .carousel-inner{
    height: 100px;
  }

.newphoto{
  background-color: red;
  height: 100px;
  width: 100%;
}

  .bg-photo1, .bg-photo2, .bg-photo3 {
    height: 300px;
  }

  .bg-photo1 {
    background-image: url(../img/anthony_small.jpg);
  }

  .bg-photo2 {
    background-image: url(../img/leaf.jpg);
  }

  .bg-photo3 {
    background-image: url(../img/flowers.jpg);
  }

  h1 {
    font-family: 'Bebas Neue', Arial, sans-serif;
  }

  p {
    font-family: 'Open Sans', Arial, sans-serif;
  }

  .bangersandmash {
    font-family: 'Bangers', Arial, sans-serif;
  }

  .anthony-color{
    background-color: #fcb040 !important;
  }

  .custom-font{
    font-family: 'Bebas Neue', sans-serif;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bg-photo1, .bg-photo2, .bg-photo3 {
    height: 400px;
  }

  p{
    font-family: Bebas;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .bg-photo1, .bg-photo2, .bg-photo3 {
    height: 200px;
  }

  .bg-photo1{
    background-image: url("img/anthony_big.jpg");
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .bg-photo1, .bg-photo2, .bg-photo3 {
    height: 600px;
  }
}

/* Extra EXTRA large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {}
