/* Mystyles.css page*/

/* Default Elements Start */
h1, p {
	text-align: center;
}

h1{

}
/* Default Elements End */


/* Ids & Classes Start */
#first, .words{
	font-family: 'Bebas Neue Pro', Arial, sans-serif;
}
/* Ids & Classes End */


/* Ids Start */
#first{
	color: #fcb040;
	font-size: 40px;
}
/* Ids & End */


/* Classes Start */
.words{
	color: dodgerblue;
	font-style: italic;
}

.picture{
	width: 100%;
}

/* Classes End*/
