:root{
    --favcolor: #fcb040;
    --logo: url("../img/logo.png");
    --primaryFont: 'Comic Sans';
    --secondaryColor:
}

.bg-fav{
    background-color: var(--favcolor);
}

.order-6{
    order: 6;
}

.test{
    border: 1px solid red;
}

.logo{
    background-image: var(--logo);
}

h1{
    font-family: var(--primaryFont), Arial, Helvetica, sans-serif;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Extra EXTRA large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {

}